.btnViewAnswers {
  max-height: 30px;
  border: 0ch;
  background-color: inherit;
  color: rgb(73, 168, 246);

  .dNone {
    display: none;
  }
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  padding: 0px;
}

.ViewAnswers {
  max-height: 20px;
  border: 0ch;
  background-color: inherit;
  color: rgb(73, 168, 246);
}